@use '@styles/variables' as vars;

.root {
    width: 100%;
    height: 16px;
    position: relative;
}

.progress {
    display: block;
    width: 100%;
    height: 16px;
    border-radius: 20px 20px 0 0;
    border: none;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &::-webkit-progress-value {
        background-color: vars.$color-blue;
        transition: width vars.$transition-default;
    }

    &::-moz-progress-bar {
        background-color: vars.$color-blue-60;
    }

    &::-webkit-progress-bar {
        background-color: vars.$color-blue-60;
    }
}
