@use '@styles/typography' as typography;
@use '@styles/variables' as vars;

.root {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 64px;
    gap: 24px;

    @media screen and (width < vars.$breakpoint-large) {
        padding: 0 24px;
    }

    @media screen and (width < vars.$breakpoint-medium) {
        flex-wrap: wrap-reverse;
        padding: 0 16px;
    }

    &:has(.downloadButton) {
        gap: 8px;

        .step {
            align-self: flex-end;
        }

        @media screen and (width < vars.$breakpoint-large) {
            flex-direction: column-reverse;

            .step {
                align-self: flex-start;
            }

            .buttons {
                width: 100%;
                justify-content: space-between;

                button {
                    width: 100%;
                    padding: 8px 0;
                    justify-content: center;
                }
            }
        }

        @media screen and (width < vars.$breakpoint-medium) {
            .buttons {
                flex-direction: column;
            }

            .step {
                align-self: flex-end;
            }
        }
    }
}

.step {
    @include typography.Bold14;

    align-self: flex-end;
    color: vars.$color-muted;

    @media screen and (width < vars.$breakpoint-large) {
        align-self: flex-end;
    }

    @media screen and (width < vars.$breakpoint-medium) {
        align-self: flex-start;
    }
}

.buttons {
    display: flex;
    gap: 8px;

    @media screen and (width < vars.$breakpoint-medium) {
        flex-wrap: wrap;
    }
}

.backButton {
    background: vars.$color-blue-50;
    color: vars.$color-default;

    &:hover {
        background: vars.$color-blue-70;
    }
}

.chevronLeftIcon {
    width: 24px;
    height: 24px;
    color: vars.$color-default;
}
