@use '@styles/variables' as vars;
@use '@styles/typography' as typography;

.root {
    @include typography.Regular16;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 24px;
    border-radius: 100px;
    background: vars.$color-blue;
    color: vars.$color-surface1;
    transition: all vars.$transition-default;
    cursor: pointer;

    &:hover {
        background: vars.$color-blue-110;
    }

    &:disabled {
        background: vars.$color-disabled-btn;
        color: vars.$color-disabled;
        cursor: not-allowed;
    }

    @media screen and (width < vars.$breakpoint-medium) {
        flex: 1 0 0;
        justify-content: center;
    }
}
