@font-face {
  font-family: 'Circular Rounded';
  src: url('../assets/fonts/Circ@rounded-Thin.otf') format('opentype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Rounded';
  src: url('../assets/fonts/Circ@rounded-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Rounded';
  src: url('../assets/fonts/Circ@rounded-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Rounded';
  src: url('../assets/fonts/Circ@rounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Rounded';
  src: url('../assets/fonts/Circ@rounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Rounded';
  src: url('../assets/fonts/Circ@rounded-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
}