/* Breakpoints */
$breakpoint-small: 380px;
$breakpoint-medium: 640px;
$breakpoint-large: 1200px;

/* Colors */
$color-white: #FFFFFF;
$color-black: #000000;
$color-default: #293244;
$color-muted: #A0A9B8;

$color-surface5: #D0D4DC;
$color-surface3: #F6F6F8;

$color-disabled: #44537180;
$color-disabled-btn: #4453711a;

$color-blue: #45A5F6;
$color-blue-60: #C7E4FC;
$color-blue-50: #DAEDFD;

$color-red: #E12828;
$color-red-50: #FADEE0;

$color-violet: #6447CF;
