@use 'styles/globals.scss';

:root {
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}
